<?xml version="1.0"?>
<robot name="caramelo" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <!-- Friction direction and contact setup for mecanum wheels -->
  <gazebo reference="fl_wheel_link">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="fr_wheel_link">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>1.0</mu>
            <mu2>0</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="rl_wheel_link">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>0</mu>
            <mu2>0</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <gazebo reference="rr_wheel_link">
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>0</mu>
            <mu2>0</mu2>
            <fdir1 gz:expressed_in="base_footprint">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <!-- Plugin ROS 2 Control Gazebo -->
  <gazebo>
    <!-- ROS 2 Humble -->
    <xacro:if value="$(arg is_ignition)">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find caramelo_controller)/config/robot_controllers.yaml</parameters>
      </plugin>
    </xacro:if>

    <!-- ROS 2 Iron ou superior -->
    <xacro:unless value="$(arg is_ignition)">
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find caramelo_controller)/config/robot_controllers.yaml</parameters>
      </plugin>
    </xacro:unless>
  </gazebo>

</robot>
